{# La famille #}
<section id="presentations">
    <h2 class="text-center">La famille de Mamie ViteVite</h2>
    <div class="cards presentations">
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="{{ asset('medias/series/MamieViteVite-Image.jpg.webp') }}" alt="Mamie ViteVite - Nom d'une tartine !" width="200"/>
            <h3 class="text-center">Mamie ViteVite</h3>
            <p class="text-center italic">Jocelyne Dupoivre</p>
            <p class="text-center">Toujours pressée et en coup de vent, elle a dix mille choses à faire.</p>
            <p class="text-center">Phrase favorite<br><strong>Nom d'une tartine !</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/Poupi-Image.jpg.webp" alt="Poupi - Miaou !" width="200"/>
            <h3 class="text-center">Poupi</h3>
            <p class="text-center italic">Le chat</p>
            <p class="text-center">Les bêtises, ça le connaît. Il en a toujours une avec lui, histoire d'enquiquiner.</p>
            <p class="text-center">Phrase favorite<br><strong>Miaou !</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/MamanPieuvre-Image.jpg.webp" alt="Maman Pieuvre - À table !" width="200"/>
            <h3 class="text-center">Maman Pieuvre</h3>
            <p class="text-center italic">Fanny Dupoivre</p>
            <p class="text-center">Fille de Mamie ViteVite, elle gère tout, mais gare à toi si elle te voit faire une bêtise !</p>
            <p class="text-center">Phrase favorite<br><strong>À table !</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/PapaCool-Image.jpg.webp" alt="Papa Cool - On arrive... Zen..." width="200"/>
            <h3 class="text-center">Papa Cool</h3>
            <p class="text-center italic">Daniel Farge</p>
            <p class="text-center">Mari de maman Pieuvre, le stress ? Il ne connaît pas. Il est zen et détendu.</p>
            <p class="text-center">Phrase favorite<br><strong>On arrive... Zen...</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/Tornade-Image.jpg.webp" alt="Tornade - Hum... Grrr !" width="200"/>
            <h3 class="text-center">Tornade</h3>
            <p class="text-center italic">Tobias Dupoivre-Farge</p>
            <p class="text-center">Faut pas l'embêter, sinon il s'énerve facilement et se met vite en colère.</p>
            <p class="text-center">Phrase favorite<br><strong>Hum... Grrr !</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/Replay-Image.jpg.webp" alt="Replay - Alors, tu savais que..." width="200"/>
            <h3 class="text-center">Replay</h3>
            <p class="text-center italic">Thomas Dupoivre-Farge</p>
            <p class="text-center">Avec lui, pas le temps de s'ennuyer, il parle tout le temps et répète tout.</p>
            <p class="text-center">Phrase favorite<br><strong>Alors, tu savais que...</strong></p>
        </div>
        <div class="img-thumbnail img-shadow">
            <twig:c975LUi:Image:Image src="medias/series/Zouzou-Image.jpg.webp" alt="Zouzou - Câlins ! Bisous !" width="200"/>
            <h3 class="text-center">Zouzou</h3>
            <p class="text-center italic">Lilwen Dupoivre-Farge</p>
            <p class="text-center">Petite dernière, elle aime les câlins, mais surtout jouer des tours à ses frères.</p>
            <p class="text-center">Phrase favorite<br><strong>Câlins ! Bisous !</strong></p>
        </div>
    </div>
</section>
{# Jeu de 7 familles #}
<section id="sept-familles">
    <h2 class="text-center" id="jeu">Le jeu de sept familles</h2>
    <div class="cards">
        {% set familles = [
            { 'color': 'rouge', 'name': 'Noël' },
            { 'color': 'orange', 'name': 'Téléphone' },
            { 'color': 'jaune', 'name': 'Plage' },
            { 'color': 'verte', 'name': 'Maison' },
            { 'color': 'bleue', 'name': 'Neige' },
            { 'color': 'violette', 'name': 'Balade' },
            { 'color': 'marron', 'name': 'Pique-nique' }
        ] %}
        {% for famille in familles %}
            <twig:c975LUi:Image:Link src="{{ asset('medias/mamie-vitevite-7-familles/' ~ famille.color ~ '-1.webp') }}" url="{{ path("page_display", {"page": "mamie-vitevite-jeu-7-familles", "famille": famille.color }) }}" alt="Mamie ViteVite - Jeu de 7 familles - Famille {{ famille.color|capitalize }} ({{ famille.name }})" label="Famille {{ famille.color|capitalize }}<br>({{ famille.name }})" width="150" class="img-thumbnail"/>
        {% endfor %}
    </div>
</section>
<p class="text text-center lead">Retrouve le jeu sur notre boutique !</p>
<twig:c975LShop:Button:Button label="Mamie ViteVite - Jeu des 7 familles" url="{{ path('product_display', { slug: 'mamie-vitevite-jeu-de-sept-familles' }) }}" icon="bundles/c975lshop/images/basket-shopping.svg"/>
<h3>Règles du jeu de 7 familles</h3>
<p>
    La famille de Mamie ViteVite est composée de  7 personnes et non de 6, comme dans les jeux classiques : Mamie ViteVite, Poupi, Maman Pieuvre, Papa Cool, Tornade, Replay et Zouzou.<br>
    Manières de jouer<br>
    <strong>A) Classique</strong> : grouper les cartes par famille. Choisir les cartes de même couleur/famille et de chaque personne (1 à 7).<br>
    <strong>B) Mamie ViteVite</strong> : grouper les cartes par personne. Choisir les cartes de même personne (1 à 7) et de chaque couleur/famille.<br>
    <strong>C) Secrète</strong> : à toi de trouver !<br>
    Déroulement du jeu<br>
    Choisir la manière de jouer. Mélanger les cartes. Distribuer 6 cartes chacun. Le reste, face cachée, constitue la pioche. Le plus jeune commence. Il demande à un joueur de son choix une carte d’une famille qu’il possède déjà et qui lui manque. Si l'autre joueur l'a, il doit la donner et le joueur demandeur peut continuer, sinon, il doit piocher. Si c'est la carte demandée, alors, c'est « bonne pioche ! ». Il peut continuer de demander d'autres cartes, sinon c'est au joueur, à qui il a demandé de jouer. Dès qu’un joueur complète une famille, il la pose devant lui. Celui qui a le plus de familles complètes a gagné ! Et, nom d'une tartine, Amusez-vous bien !<br>
    <strong>Mamie ViteVite</strong>
</p>
