{% extends 'layout.html.twig' %}

{# Defines specific variables #}
{% set title = serie.title %}
{% set description = serie.summary %}
{% set ogImage = absolute_url(asset(serie.covers|first != false ? serie.covers|first : "bundles/c975lbook/images/no-cover.webp")) %}

{% block content %}
    {% if serie.logos is not empty %}
        <twig:c975LUi:Image:Image src="{{ asset(serie.logos|first) }}" alt="Logo {{ serie.title }}" width="400"/>
    {% endif %}
    <twig:c975LBook:Serie:Resume serie="{{ serie }}"/>
    <h2 class="text-center">{{"label.serie_books"|trans({}, 'messages', language)}}</h2>
    <twig:c975LBook:Book:Books books="{{ serie.books }}" displayMore="false"/>
    <twig:c975LUi:Blocks:Blocks blocks="{{ serie.blocks }}"/>
{% endblock %}