{% if marketing.name matches '/\.mp4$/' %}
    <div class="text-center width-150">
        <twig:c975LUi:Video:Video src="{{ asset(marketing.name) }}" type="video/mp4" width="125"/>
        <p class="text-center">{{ marketing.title }}</p>
    </div>
{% else %}
    {% set imageSrc = marketing.name|replace({'.pdf': '.webp'}) %}
    {% set imageSrc = asset_exists(imageSrc) ? imageSrc : "bundles/c975lshop/images/no-product-image.webp" %}
    <twig:c975LUi:Image:Link label="{{ marketing.title }}" src="{{ asset(imageSrc) }}" url="{{ asset(marketing.name) }}" class="img-thumbnail box-shadow img-125" width="150"/>
{% endif %}


